.root {
    li {
        display: inline-block;
        
        a {
            text-align: center;
            line-height: 42px;
            width: 45px;
            height: 45px;
            padding: 10px;
            border: 1px solid #EB5A1E;
            border-radius: 30px;
            margin-right: 10px;
            cursor: pointer;
            color: #EB5A1E;

            &:hover {
                background-color: #EB5A1E;
                color: #fff;
            }
        }
    }
}