.wrapper-list {
    margin-top: 32px;
    h2 {
        font-weight: 700;
        font-size: 32px;
    }
    .pizza-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 1060px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 730px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}